<div class="page-module loginPageContainor">
  <div class="logo"></div>
  <div class="container">
    <h1>SAAS资源管理系统</h1>
    <form name="loginForm" class="form-horizontal" novalidate @submit.prevent="submit(errors)">
      <div class="form-group error-msg">
        <span class="error" v-if="errCode!=='300003' && errCode!=='300001' && errCode!=='300004'">{{errMsg}}</span>
      </div>
      <div class="form-group" :class="{'has-error': errors.has('mobile')}" >
          <input class="form-control" name="mobile" v-model="mobile" type="text" v-validate.mobile="{required: true, regex: /^1\d{10}/}"  placeholder="请输入你的手机号码" placeholder-fix autofocus>
          <span class="error" v-if="errCode==='300003' || errCode==='300001'">{{errMsg}}</span>
      </div>
      <div class="form-group" :class="{'has-error': errors.has('pwd')}">
          <input class="form-control" name="pwd" v-model="pwd" type="password" v-validate="{required: true}" placeholder="请输入你的密码" placeholder-fix>
          <span class="error" v-if="errCode==='300004'">{{errMsg}}</span>
      </div>
      <div class="form-group">
          <button class="btn btn-default" type="submit">登录</button>
      </div>
      <div class="form-group forget-pwd">
        <a href="">忘记密码请与管理员联系</a>
      </div>
    </form>
  </div>
</div>