<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>vue</title>
    <% for(let o of htmlWebpackPlugin.options.styles){ %>
        <link href="./<%= o %>.css" rel="stylesheet">
        <% } %>
</head>

<body>
    <div id="app">
        <router-view></router-view>
    </div>
    <script type="text/javascript">
      <% if(htmlWebpackPlugin.options.siteInfo && htmlWebpackPlugin.options.NODE_ENV!=='DEV') {%>
      window.CONFIG_SITE = "<%=htmlWebpackPlugin.options.siteInfo[htmlWebpackPlugin.options.NODE_ENV].local%>";
      window.CONFIG_REMOTE = "<%=htmlWebpackPlugin.options.siteInfo[htmlWebpackPlugin.options.NODE_ENV].remote%>";
      <% } %>
    </script>
    <% for(var o of htmlWebpackPlugin.options.dlls ){ %>
    <script src="./<%= o %>.js"></script>
    <% } %></body>

</html>
